*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', Verdana;
    font-size: 20px;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)), url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top: 10px;
    height: 45px;
    margin-bottom: 10px;
}

.navcon{
    background-color: transparent;
}

.navitem{
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
    transition: 0.5s;
    font-weight: 600;
}

.navitem:hover{
    border-bottom: 2px solid #e67e22;
}


.header-text{
    font-family: 'Lato', Verdana;
    background-color: transparent;
    color: white;
    padding-top: 20%;
}

.contentheader{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 25px;
}

.btn:link, .btn:visited{
    border: 1px solid #e67e22;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
}

.btn-full:link, .btn-full:visited{
    background-color: #e67e22;
    transition: 0.5s;
}

.btn-full:hover, .btn-full:active{
    background-color: #e36f08;
    transition: 0.5s;
}

.btn-ghost:link, .btn-ghost:visited{
    color: #e67e22;
    transition: 0.5s;
}

.btn-ghost:hover, .btn-ghost:active{
    background-color: #e36f08;
    color: #fff;
    transition: 0.5s;
}

.section1{
    min-height: 101vh;
    background-image: linear-gradient(rgba(220,220,220,0.69),rgba(220,220,220,0.69)), url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 4%;
}

.cardcon{
    background-color: #fff;
    min-height: 620px;
    padding: 20px;
    box-shadow: 11px 9px 31px 5px rgba(0,0,0,0.7);
    -webkit-box-shadow: 11px 9px 31px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 9px 31px 5px rgba(0,0,0,0.7);
}

.card h3{
    padding: 20px;
    text-transform: uppercase;
    font-size: 90%;
    text-align: center;
}

.card h4{
    padding: 20px;
    text-transform: uppercase;
    color: #e67e22;
    font-size: 80%;
    text-align: center;
    margin-bottom: -20px;
}

.card p{
    font-size: 70%;
}

.btn-card:link, 
.btn-card:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 30px;
    transition: 0.5s;
    font-size: 75%;
    padding: 5px 15px;
    margin-left: 30%;
}

.btn-card:hover, 
.btn-card:active{
    background-color: #e36f08;
    color: #fff;
    transition: 0.5s;
}

.section2{
    min-height: 90vh;
    background-color: rgba(231, 231, 231);
    padding-top: 2%;
}

.ourteam{
    padding-top: 70px;
    text-align: center;
    font: 200%;
    color: #e67e22;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.OTC-name{
    font-size: 120%;
    color: #e67e22;
}

.OTC-p{
    font-size: 95%;
}

footer{
    min-height: 11vh;
    background-color: #1c1c1c;
}

.ft{
    color:#fff;
    font-size: 65%;
    padding: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ft2{
    font-size: 100%;
    color: #fff;
    padding: 30px;
    margin-bottom: 0;
    margin-left: -2px;
}

.ft2 i{
    font-size: 150%;
    color: #e67e22;
    margin-right: 10px;
}

.rtbutton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 150%;
}


.rtbutton a:link, .rtbutton a:visited{
    font-size: 90%;
    color: #e67e22;
}

@media(max-width: 820px){
    .navcon{
        background-color: #1c1c1c;
        
    }

    .btn{
        font-size: 0.8rem;
    }

    .header-text{
        padding-top: 0;
        margin-bottom: 0;
    }

    .contentheader{
        font-size: 1.3rem;
    }

    .ft2{
        font-size: 90%;

    }
    
    .ft2 i{
        font-size: 80%;
        margin-right: 0;
    }

    .rtbutton{
        bottom: 23px;
        right: 23px;
        font-size: 95%;
    }
}